doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

  script(src='/javascripts/jquery.min.js')
  script(src='/javascripts/test.js')
  script(src='/javascripts/flow.js')
  script(src='/javascripts/upload-test.js')
